<!doctype html>
<html>
<head>
  <title>Detour</title>
  <%= stylesheet_link_tag    "detour/application", :media => "all" %>
  <%= javascript_include_tag "detour/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render "detour/shared/nav" %>
  <%= yield %>
</div>

</body>
</html>
