<h1><%= flaggable_type.capitalize %> <%= flag_verb %> <%= feature_name %></h1>

<% if @feature.errors.any? %>
  <ul>
    <% @feature.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @feature, url: request.path do |form| %>
  <%= form.fields_for "#{flaggable_type}_#{flag_type.pluralize}" do |flaggable_flag_form| %>
    <%= render "flaggable_flag_fields", f: flaggable_flag_form %>
  <% end %>

  <%= link_to_add_fields "Add #{flag_noun.capitalize}", form, "#{flaggable_type}_#{flag_type.pluralize}", :flaggable_flag_fields %>

  <hr>

  <%= form.submit "Update #{flag_noun.capitalize.pluralize}", class: "btn btn-primary pull-left" %>
<% end %>
