<h1><%= flaggable_type.capitalize %> flagged-in to <%= feature_name %></h1>

<%= table do %>
  <thead>
    <tr>
      <th></th>
      <th><%= flaggable_class.detour_flaggable_find_by %></th>
    </tr>
  </thead>

  <%= render partial: "flag_in", collection: @flags, as: :flag %>
<% end %>

<%= modal title: "Delete Flag-in", id: "delete-flag" do %>
  <p>Are you sure you want to delete <%= feature_name %> flag-in for <%= flaggable_class %> <span class="flaggable-identifier"></span>?</p>

  <%= modal_footer do %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= link_to "Delete Flag-in", "javascript:void(0)", method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
