<h1>Groups</h1>

<%= content_tag :ul, id: "groups" do %>
  <%= render @groups %>
<% end %>

<%= content_tag :span, "Create a Group", class: "btn btn-default", data: { toggle: "modal", target: "#create-group" } %>

<%= modal title: "Create a Group", id: "create-group", fade: true do %>
  <%= form_for Detour::Group.new, remote: true do |form| %>
    <%= form.text_field :name, class: "form-control", placeholder: "Group Name" %>

    <%= modal_footer do %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= form.submit "Create Group", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>
