<%= content_tag_for :tr, feature do %>
  <%= fields_for "features[#{feature}]", feature do |feature_form| %>
    <td>
      <% unless feature.new_record? %>
        <button type="button" class="btn btn-danger btn-xs delete-feature" data-path="<%= feature_path(feature.id, params: { flaggable_type: params[:flaggable_type] }) %>">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      <% end %>
    </td>

    <td><%= feature %></td>

    <td>
      <% if feature.lines.any? %>
        <i class="feature-lines glyphicon glyphicon-ok" data-prefix="<%= github_prefix %>" data-lines="<%= feature.lines.join(",") %>"></i>
        (<%= pluralize(feature.lines.count, "use") %>)
      <% else %>
        <i class="glyphicon glyphicon-ban-circle"></i>
      <% end %>
    </td>

    <%= render partial: "detour/shared/spacer_cells", locals: { tag: "td" } %>

    <% @flag_form.group_flags_for(feature).each do |flag| %>
      <%= feature_form.fields_for "#{params[:flaggable_type]}_#{flag.group_type}_group_flags_attributes[#{flag.group_name}]", flag do |group_flag_form| %>
        <%= group_flag_form.hidden_field :id %>
        <td><%= group_flag_form.check_box :to_keep, data: { toggle: "tooltip", placement: "top", original_title: "#{flag.group_name}" } %></td>
      <% end %>
    <% end %>

    <%= feature_form.fields_for "#{params[:flaggable_type]}_percentage_flag_attributes", feature.send("#{params[:flaggable_type]}_percentage_flag") do |percentage_flag_form| %>
      <td><%= percentage_flag_form.text_field :percentage, class: "form-control input-sm" %></td>
    <% end %>

    <td class="flag-in-count">
      <% if feature.persisted? %>
        <%= link_to flaggable_flags_path(flag_type: "flag-ins", feature_name: feature.name, flaggable_type: params[:flaggable_type]) do %>
          <%= feature.flag_in_count_for(params[:flaggable_type]) %>
        <% end %>
      <% else %>
        0
      <% end %>
    </td>

    <td class="opt-out-count">
      <% if feature.persisted? %>
        <%= link_to flaggable_flags_path(flag_type: "opt-outs", feature_name: feature.name, flaggable_type: params[:flaggable_type]) do %>
          <%= feature.opt_out_count_for(params[:flaggable_type]) %>
        <% end %>
      <% else %>
        0
      <% end %>
    </td>
  <% end %>
<% end %>
