<%= content_tag_for :tr, feature do %>
  <%= fields_for "features[#{feature}]", feature do |feature_form| %>
    <td>
      <% unless feature.new_record? %>
        <button type="button" class="btn btn-danger btn-xs delete-feature" data-path="<%= feature_path(feature.id, params: { flaggable_type: params[:flaggable_type] }) %>">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      <% end %>
    </td>

    <td><%= feature %></td>

    <% @flag_form.group_flags_for(feature).each do |group_flag| %>
      <%= feature_form.fields_for "#{params[:flaggable_type]}_group_flags_attributes[#{group_flag.group_name}]", group_flag do |group_flag_form| %>
        <%= group_flag_form.hidden_field :id %>
        <td><%= group_flag_form.check_box :to_keep %></td>
      <% end %>
    <% end %>

    <%= feature_form.fields_for "#{params[:flaggable_type]}_percentage_flag_attributes", feature.send("#{params[:flaggable_type]}_percentage_flag") do |percentage_flag_form| %>
      <td><%= percentage_flag_form.text_field :percentage, class: "form-control input-sm" %></td>
    <% end %>

    <td>
    </td>

    <td>
    </td>
  <% end %>
<% end %>
