<% if flash.notice %>
  <div class="alert alert-success"><%= flash.notice %></div>
<% end %>

<% if flash.alert %>
  <div class="alert alert-danger"><%= flash.alert %></div>
<% end %>

<h1><%= params[:flaggable_type].classify %> Flags</h1>

<% if @flag_form.features.any? { |feature| feature.errors.any? } %>
  <ul class="list-group danger">
    <% @flag_form.features.each do |feature| %>
      <% feature.errors.full_messages.each do |msg| %>
        <li class="list-group-item"><strong><%= feature.name %>:</strong> <%= msg %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= form_tag do %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Feature</th>
          <th>Percentage</th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "feature_form", collection: @flag_form.features, as: :feature %>
      </tbody>
    </table>
  </div>

  <%= submit_tag "Save Changes", class: "btn btn-primary pull-right" %>
<% end %>
